@page "/scopes"
@inject Store store

<PageTitle>Scopes</PageTitle>

@foreach (var scope in store.Scopes)
{
    bool isSelected = store.SelectedScopes.Contains(scope.Key);
    string cssClass = isSelected ? "selected" : "";
    Action clickHandler = isSelected
    ? async () => await store.DeselectScope(scope.Key)
    : async () => await store.SelectScope(scope.Key);

    <article class="@cssClass" @onclick="clickHandler" style="cursor: pointer;">

        <header>@scope.Value.Name</header>

        <body>
            @foreach (var a in scope.Value.Attributes)
            {
                <span>@a.Key: @a.Value.StringValue<br></span>
            }
        </body>
        <footer>@scope.Value.Version</footer>
    </article>
}

@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}