@page "/traces"
@rendermode RenderMode.InteractiveServer
@implements IDisposable
@using static Signals.Database

@inject Query query
@inject Database db

<PageTitle>Traces</PageTitle>

<Search Placeholder="traces" />
<table>
    <thead>
        <tr>
            <th>Resource</th>
            <th>Scope</th>
            <th>Name</th>
            <th>Kind</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trace in db.QueryTraces(query))
        {
            <tr>
                <td>@trace.ServiceName</td>
                <td>@trace.ScopeName</td>
                <td>@trace.SpanName</td>
                <td>@trace.SpanKind</td>
                <td>@trace.GetStartTime()</td>
                <td>@trace.GetEndTime()</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override void OnInitialized()
    {
        query.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        query.OnChange -= StateHasChanged;
    }
}