@rendermode RenderMode.InteractiveServer
@using static Signals.Database
@inject Query query
@inject Database db

<fieldset>
    <input type="search" placeholder="Search @Placeholder..." @bind="query.Text" @bind:event="oninput" />
    <select id="scope" title="Scope" @bind="query.ScopeName">
        <option value="">Any scope</option>
        @foreach (var scope in db.GetUniqueScopes())
        {
            <option value="@scope">@scope</option>
        }
    </select>
    <select id="resource" title="Resource" @bind="query.ServiceName">
        <option value="">Any service</option>
        @foreach (var service in db.GetUniqueServices())
        {
            <option value="@service">@service
            </option>
        }

    </select>
    <select id="dateRange" title="Date Range" @bind="query.StartTime">
        <option value="@(DateTime.UtcNow.AddHours(-1))">From the last hour</option>
        <option value="@(DateTime.UtcNow.AddHours(-24))">From the last 24 hours</option>
        <option value="@(DateTime.UtcNow.AddDays(-7))">From the last 7 days</option>
    </select>
</fieldset>

@code {
    [Parameter]
    public string Placeholder { get; set; } = "";
}