
@if (Span.Children.Any())
{
<tr @onclick="Toggle" style="cursor:pointer;">
    <td style="padding-left:@(Level * 20)px;">
        @Span.Name
    </td>
    <td >
        @Span.Scope
    </td>
    <td>
        @Span.StartTime.ToString("dd-MM HH:mm:ss.fff")
    </td>
    <td>
        @Span.Duration.TotalMilliseconds
    </td>
</tr>
} else {
<tr>
    <td style="padding-left:@(Level * 20)px;">
        @Span.Name
    </td>
    <td >
        @Span.Scope
    </td>
    <td>
        @Span.StartTime.ToString("dd-MM HH:mm:ss.fff")
    </td>
    <td>
        @Span.Duration.TotalMilliseconds
    </td>
</tr>
}

@if (Expanded)
{
    @foreach (var child in Span.Children)
    {
        <SpanRow Span="child" Level="Level + 1" />
    }
}

@code {
    [Parameter] public Span Span { get; set; } = default!;
    [Parameter] public int Level { get; set; } = 0;

    bool Expanded { get; set; } = false;

    void Toggle()
    {
        Expanded = !Expanded;
    }
}
