@page "/logs"
@implements IDisposable
@using Signals.Telemetry.Logs
@using Microsoft.AspNetCore.Components.Web
@using static Signals.Telemetry.Repository
@rendermode RenderMode.InteractiveServer

@inject Repository repo

<PageTitle>Logs</PageTitle>

<fieldset>
    <input type="search" placeholder="Search logs..." @bind="query.Text" @bind:event="oninput" />
    <select id="scope" title="Scope" @bind="query.ScopeName">
        <option value="">Any scope</option>
        @foreach (var scope in repo.GetUniqueLogScopes())
        {
            <option value="@scope">@scope</option>
        }
    </select>
    <select id="resource" title="Resource" @bind="query.ServiceName">
        <option value="">Any service</option>
        @foreach (var service in repo.GetUniqueServices())
        {
            <option value="@service">@service
            </option>
        }

    </select>
    <input type="datetime-local" title="Start Time" @bind="query.StartTime" />
    <input type="datetime-local" title="End Time" @bind="query.EndTime" />
</fieldset>
<table>
    <thead>
        <tr>
            @if (string.IsNullOrEmpty(query.ServiceName))
            {
                <th>Service</th>
            }
            @if (string.IsNullOrEmpty(query.ScopeName))
            {
                <th>Scope</th>
            }
            <th>Severity</th>
            <th>Log</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @{

            var logs = repo.QueryLogs(query);
            if (!logs.Any())
            {
                <tr>
                    <td colspan="5" style="text-align: center; font-style: italic;">No logs found</td>
                </tr>
            }
            @foreach (var log in logs)
            {
                <tr>
                    @if (string.IsNullOrEmpty(query.ServiceName))
                    {
                        <td>@log.ServiceName</td>
                    }
                    @if (string.IsNullOrEmpty(query.ScopeName))
                    {
                        <td>@log.Scope.Name</td>
                    }
                    <td>@log.SeverityText</td>
                    <td>@log.Body.StringValue</td>
                    <td>@log.GetFormattedTime()</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    [Inject]
    private Query query { get; set; } = null!;

    protected override void OnInitialized()
    {
        query.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        query.OnChange -= StateHasChanged;
    }

}