@page "/logs"
@implements IDisposable
@using Signals.Repository
@using static Signals.Repository.Database
@rendermode RenderMode.InteractiveServer

@inject Database db

<PageTitle>Logs</PageTitle>

<fieldset>
    <input type="search" placeholder="Search logs..." @bind="query.Text" @bind:event="oninput" />
    <select id="scope" title="Scope" @bind="query.ScopeName">
        <option value="">Any scope</option>
        @foreach (var scope in db.GetUniqueLogScopes())
        {
            <option value="@scope">@scope</option>
        }
    </select>
    <select id="resource" title="Resource" @bind="query.ServiceName">
        <option value="">Any service</option>
        @foreach (var service in db.GetUniqueServices())
        {
            <option value="@service">@service
            </option>
        }

    </select>
    <input type="datetime-local" title="Start Time" @bind="query.StartTime" />
    <input type="datetime-local" title="End Time" @bind="query.EndTime" />
</fieldset>
<table>
    <thead>
        <tr>
            <th>Resource</th>
            <th>Scope</th>
            <th>Severity</th>
            <th>Log</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in db.QueryLogs(query))
        {
            var serviceName = log.Resource.Attributes.FirstOrDefault(a => a.Key == "service.name")?.Value.StringValue;
            @foreach (var scopeLog in log.ScopeLogs)
            {
                @foreach (var logRecord in scopeLog.LogRecords)
                {
                    <tr>
                        <td>@serviceName</td>
                        <td>@scopeLog.Scope.Name</td>
                        <td>@logRecord.SeverityText</td>
                        <td>@logRecord.Body.StringValue</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@code {

    [Inject(Key = "logs")]
    private Query query { get; set; } = null!;

    protected override void OnInitialized()
    {
        query.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        query.OnChange -= StateHasChanged;
    }

}