@page "/metrics"
@rendermode RenderMode.InteractiveServer
@implements IDisposable
@using OpenTelemetry.Metrics
@using Signals.Telemetry
@using static Signals.Telemetry.Repository

@inject Repository repo

<PageTitle>Metrics</PageTitle>

<fieldset>
    <input type="search" placeholder="Search metrics..." @bind="query.Text" @bind:event="oninput" />
    <select id="scope" title="Scope" @bind="query.ScopeName">
        <option value="">Any scope</option>
        @foreach (var scope in repo.GetUniqueMetricScopes())
        {
            <option value="@scope">@scope</option>
        }
    </select>
    <select id="resource" title="Resource" @bind="query.ServiceName">
        <option value="">Any service</option>
        @foreach (var service in repo.GetUniqueServices())
        {
            <option value="@service">@service
            </option>
        }

    </select>
    <input type="datetime-local" title="Start Time" @bind="query.StartTime" />
    <input type="datetime-local" title="End Time" @bind="query.EndTime" />
</fieldset>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Value</th>
            <th>Sum</th>
            <th>Max</th>
            <th>Min</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var metric in repo.QueryMetrics(query))
        {
            <tr>
                <td>@metric.Name</td>
                <td>@metric.Description</td>
                <td>@metric.Type</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Inject(Key = "metrics")]
    private Query query { get; set; } = null!;

    protected override void OnInitialized()
    {
        query.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        query.OnChange -= StateHasChanged;
    }

}