@page "/traces"
@using Google.Protobuf
@rendermode RenderMode.InteractiveServer
@implements IDisposable
@using Signals.Telemetry
@using static Signals.Telemetry.Repository
@using System.Linq

@inject Repository repo

<PageTitle>Traces</PageTitle>

<fieldset>
    <input type="search" placeholder="Search traces..." @bind="query.Text" @bind:event="oninput" />
    <select id="scope" title="Scope" @bind="query.ScopeName">
        <option value="">Any scope</option>
        @foreach (var scope in repo.GetUniqueTraceScopes())
        {
            <option value="@scope">@scope</option>
        }
    </select>
    <select id="resource" title="Resource" @bind="query.ServiceName">
        <option value="">Any service</option>
        @foreach (var service in repo.GetUniqueServices())
        {
            <option value="@service">@service
            </option>
        }

    </select>
    <input type="datetime-local" title="Start Time" @bind="query.StartTime" />
    <input type="datetime-local" title="End Time" @bind="query.EndTime" />
</fieldset>
<table>
    <thead>
        <tr>
            <th>Service</th>
            <th>Scope</th>
            <th>Name</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var span in repo.QuerySpans(query))
        {
            <tr @onclick="() => SelectSpan(span.SpanId)" style="cursor: pointer;"
                class="@(_selectedSpanId == span.SpanId ? "active" : "")">
                <td>@span.ServiceName</td>
                <td>@span.ScopeName</td>
                <td>@span.Name</td>
                <td>@span.GetFormattedDuration()</td>
            </tr>

            @if (_selectedSpanId == span.SpanId)
            {
                var logCount = repo.GetLogCountForTrace(span.TraceId);
                var metrics = repo.GetMetricsForTrace(span);
                <tr>
                    <td colspan="4">
                        <strong>Logs: @logCount</strong>
                        @if (metrics.Any())
                        {
                            <br>
                            <strong>Correlated Metrics: (@metrics.Count())</strong>
                            <table style="margin: 10px 0;">
                                <tr><th>Name</th><th>Type</th><th>Value</th><th>Time</th></tr>
                                @foreach (var metric in metrics.Take(10))
                                {
                                    <tr>
                                        <td>@metric.Name</td>
                                        <td>@metric.Type</td>  
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </table>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@code {
    
    [Inject(Key = "traces")]
    private Query query { get; set; } = null!;

    private ByteString? _selectedSpanId;

    private void SelectSpan(ByteString spanId)
    {
        if (_selectedSpanId == spanId)
        {
            _selectedSpanId = null;
        }
        else
        {
            _selectedSpanId = spanId;
        }
    }

    protected override void OnInitialized()
    {
        query.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        query.OnChange -= StateHasChanged;
    }

}