@page "/traces"
@using Google.Protobuf
@using Google.Protobuf.WellKnownTypes
@using Microsoft.AspNetCore.Components.Web
@using Signals.Common.Utilities
@using Signals.Telemetry
@rendermode RenderMode.InteractiveServer
@implements IDisposable
@using System.Linq
@using static OpenTelemetry.Proto.Common.V1.AnyValue
@using static Signals.Telemetry.Repository

@inject Repository repo

<PageTitle>Traces</PageTitle>

<fieldset>
    <input type="search" placeholder="Search traces..." @bind="query.Text" @bind:event="oninput" />
    <select id="scope" title="Scope" @bind="query.ScopeName">
        <option value="">Any scope</option>
        @foreach (var scope in repo.GetUniqueTraceScopes())
        {
            <option value="@scope">@scope</option>
        }
    </select>
    <select id="resource" title="Resource" @bind="query.ServiceName">
        <option value="">Any service</option>
        @foreach (var service in repo.GetUniqueServices())
        {
            <option value="@service">@service
            </option>
        }

    </select>
    <input type="datetime-local" title="Start Time" @bind="query.StartTime" />
    <input type="datetime-local" title="End Time" @bind="query.EndTime" />
</fieldset>

<TraceChart Spans="spans" StartTime="query.StartTime" EndTime="query.EndTime" Selection="query.TraceId == null" />
<table>
    <thead>
        <tr>
            @if (string.IsNullOrEmpty(query.ServiceName))
            {
                <th>Service</th>
            }
            @if (string.IsNullOrEmpty(query.ScopeName))
            {
                <th>Scope</th>
            }
            <th>Name</th>
            <th>Start time</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var span in repo.QuerySpans(query))
        {
            var cssClass = "";
            if (query.TraceId == span.TraceId)
            {
                if (span.ParentSpanId == ByteString.Empty)
                {
                    cssClass = "primary";
                }
                else
                {
                    cssClass = "secondary";
                }
            }
            <tr @onclick="() => SelectSpan(span)" style="cursor: pointer;">
                @if (string.IsNullOrEmpty(query.ServiceName))
                {
                    <td>@span.ServiceName</td>
                }
                @if (string.IsNullOrEmpty(query.ScopeName))
                {
                    <td>@span.Scope.Name</td>
                }
                <td>@span.Name</td>
                <td>@span.GetFormattedStartTime()</td>
                <td>@span.GetFormattedDuration()</td>
            </tr>

            @if (query.TraceId == span.TraceId) {
            <tr>
                <td colspan="5">
                    @foreach (var attr in span.Attributes) {

                        <span>@attr.Key: @attr.Value.GetAnyValueString()</span><br/>
                    }
                </td>
            </tr>
            }

        }

    </tbody>
</table>

@code {

    [Inject]
    private Query query { get; set; } = null!;

    private void SelectSpan(OpenTelemetry.Proto.Trace.V1.Span span)
    {
        if (query.TraceId == span.TraceId)
        {
            query.TraceId = null;
            query.ParentSpanId = ByteString.Empty;
            query.StartTime = DateTime.Now.AddDays(-1);
            query.EndTime = DateTime.Now;
            query.SortOrder = SortOrder.Desc;
        }
        else
        {
            var epoch = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc);
            var start = epoch.AddTicks((long)span.StartTimeUnixNano / 100 - 100); // Subtract 100 us to ensure we include the span in the results
            var end = epoch.AddTicks((long)span.EndTimeUnixNano / 100 + 100); // Add 100 us to ensure we include the span in the results

            query.StartTime = start.ToLocalTime();
            query.EndTime = end.ToLocalTime();
            query.TraceId = span.TraceId;
            query.ParentSpanId = span.SpanId;
            query.SortOrder = SortOrder.Asc;
        }

    }

    protected override void OnInitialized()
    {
        query.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        query.OnChange -= StateHasChanged;
    }

}